# Don't track content of these folders
#node_modules/
#someOtherfoler/

# Assembly
*.bin
#*.hex
*.obj
*.lst
*.sym

#xilinx
*.bgn
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
#*.syr report files
*.log
*.twr
*.twx
*.unroutes
*.ut
*.cmd
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
*.vhi
*.sym
*.wdb
*_ngo*
*xst*
*iseconfig*
*xlnx_auto_0_xdb*
*pad*
*envsettings*
*webtalk*
*__pycache__*
#xilinx
*.bgn
#*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
#*.syr report files
*.log
*.twr
*.twx
*.unroutes
*.ut
*.cmd
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xst
*.xwbt
*.vhi
*.sym
*.wdb
*_ngo*
*xst*
*iseconfig*
*xlnx_auto_0_xdb*
*pad*
*envsettings*
*webtalk*
*__pycache__*

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
